/*------------------------------------*\
    header（個人簡介）
/*------------------------------------*\


// header 背景設定
.header
    +size(100vw, 958px)
    +flexGrid(center,center,column)
    background-image: url('../img/background.png')
    background-position: center center
    background-size: cover
    color: $color-white

// 文字簡介
.person
    
    &-info
        +flexGrid(center,flex-start,column)

        &-word
            +fontSize(24px, 42px, 700)

        &-name
            +fontSize(80px, 106px, 900)
            margin-bottom: 32px

        &-job
            +fontSize(24px, 36px, 700)
            margin-bottom: 40px

    &-social
        +flexGrid(center)

        &-link
            margin-right: 16px
            @extend .transform-hover
            &:last-child
                margin-right: 0